<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happyplaces">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyPlaces">

        <activity android:name=".activities.MapActivity"
            android:label="HAPPY PLACE MAP"
            android:screenOrientation="portrait"
            android:theme="@style/CustomNoActionBarTheme"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".activities.HappyPlaceDetailActivity"
            android:label="HAPPY PLACE DETAIL"
            android:screenOrientation="portrait"
            android:theme="@style/CustomNoActionBarTheme" />
        <activity
            android:name=".activities.AddHappyPlaceActivity"
            android:label="ADD HAPPY PLACE"
            android:screenOrientation="portrait"
            android:theme="@style/CustomNoActionBarTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>